<div class="panel panel-primary">
      <div class="panel-heading">  
        <p><strong>REMINDER :  </strong><%= @reminder.title %></p>
      </div>
      <div class="panel-body">
        
    <p>
        <strong>Body:</strong>
        <%= @reminder.body %>
    </p>

     <p>
        <strong>Timings:</strong>
        <%= @reminder.timings %>
     </p>

    <p>
      <strong>Location:</strong>
      <%= @reminder.location %>
    </p>


    <p><%= link_to 'Back', reminders_path %></p>
      </div>
</div>