<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "AuthRem" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

   
    <%= javascript_include_tag "application" %>

  </head>
  <body> 

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">AuthRem</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "Home", reminders_path  %></li>
            <% if !user_signed_in? %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
            <% if user_signed_in? %>
            <li><%= link_to "Profile",edit_user_registration_path%></li>
            <li><%= link_to "logout", destroy_user_session_path,method: :delete  %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <% if notice %>
             <p class="alert alert-success"><%= notice %></p>
          <% end %>
          <% if alert %>
             <p class="alert alert-danger"><%= alert %></p>
          <% end %>
          <%= yield %>
        </div>
  <% if !user_signed_in? && (current_page?(reminders_path)||current_page?( new_user_session_path))%>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Login with </h3>
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li ><%= link_to image_tag("google.png"), '/auth/google_oauth2',:class => 'img-size'   %></li>
              <li><%= link_to image_tag("github.png"), '/auth/github'  %></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
  <% end %>
      </div><!--/row-->

      <footer>
        <p>&copy; Company 2018</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
